* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

p {
  font-size: 1.5rem;
}

h4 {
  font-size: 2rem;
}
body {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@import "./components/nav.scss";
@import "./components/note.scss";
@import "./components/notes.scss";
@import "./components/newNote.scss";
@import "./components/app.scss";
@import "./components/login.scss";
@import "./components/register";
